.txt
.gitattributes
Basics/.vs/Basics/DesignTimeBuild/.dtbcache.v2
Basics/.vs/Basics/FileContentIndex/5d3efece-a0b5-4074-9894-3e3768b986d7.vsidx
Basics/.vs/Basics/FileContentIndex/8cd718f4-ad46-43fd-aa9d-82b948972056.vsidx
Basics/.vs/Basics/FileContentIndex/a13a7505-dcbb-47f1-b982-dd124aa3cb0a.vsidx
Basics/.vs/Basics/FileContentIndex/a328bd0e-5402-42c5-858a-1bd133770ba7.vsidx
Basics/.vs/Basics/FileContentIndex/fbca50a3-8495-4083-9032-010dabaf638c.vsidx
Basics/.vs/Basics/v17/.futdcache.v2
Basics/.vs/Basics/v17/.suo
Basics/.vs/Basics/v17/DocumentLayout.json
Basics/.vs/ProjectEvaluation/basics.metadata.v8.bin
Basics/.vs/ProjectEvaluation/basics.projects.v8.bin
Basics/.vs/ProjectEvaluation/basics.strings.v8.bin
Basics/Basics.sln
Basics/Basics/Basics.csproj
Basics/Basics/bin/Debug/net8.0/Basics.deps.json
Basics/Basics/bin/Debug/net8.0/Basics.dll
Basics/Basics/bin/Debug/net8.0/Basics.exe
Basics/Basics/bin/Debug/net8.0/Basics.pdb
Basics/Basics/bin/Debug/net8.0/Basics.runtimeconfig.json
Basics/Basics/obj/Basics.csproj.nuget.dgspec.json
Basics/Basics/obj/Basics.csproj.nuget.g.props
Basics/Basics/obj/Basics.csproj.nuget.g.targets
Basics/Basics/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Basics/Basics/obj/Debug/net8.0/apphost.exe
Basics/Basics/obj/Debug/net8.0/Basics.AssemblyInfo.cs
Basics/Basics/obj/Debug/net8.0/Basics.AssemblyInfoInputs.cache
Basics/Basics/obj/Debug/net8.0/Basics.assets.cache
Basics/Basics/obj/Debug/net8.0/Basics.csproj.BuildWithSkipAnalyzers
Basics/Basics/obj/Debug/net8.0/Basics.csproj.CoreCompileInputs.cache
Basics/Basics/obj/Debug/net8.0/Basics.csproj.FileListAbsolute.txt
Basics/Basics/obj/Debug/net8.0/Basics.dll
Basics/Basics/obj/Debug/net8.0/Basics.GeneratedMSBuildEditorConfig.editorconfig
Basics/Basics/obj/Debug/net8.0/Basics.genruntimeconfig.cache
Basics/Basics/obj/Debug/net8.0/Basics.GlobalUsings.g.cs
Basics/Basics/obj/Debug/net8.0/Basics.pdb
Basics/Basics/obj/Debug/net8.0/ref/Basics.dll
Basics/Basics/obj/Debug/net8.0/refint/Basics.dll
Basics/Basics/obj/project.assets.json
Basics/Basics/obj/project.nuget.cache
